<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/aop
                           http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 激活自动代理功能 -->
    <aop:aspectj-autoproxy proxy-target-class="true"/>

    <!--<bean id="Log4JAspect" class="com.test.aspect.Log4JAspect"/>-->
    <!--&lt;!&ndash;&lt;!&ndash; 配置AOP输出日志 &ndash;&gt;&ndash;&gt;-->
    <!--<aop:config>-->
        <!--<aop:aspect id="log" ref="Log4JAspect">-->
            <!--<aop:pointcut  expression="execution(* com.test.service.*.*.*(..))" id="p1"/>-->
            <!--<aop:before method="beforeAction" pointcut-ref="p1" />-->
            <!--<aop:after method="afterAction" pointcut-ref="p1" />-->
        <!--</aop:aspect>-->
    <!--</aop:config>-->

</beans>